pandas
geopandas
matplotlib
seaborn
streamlit
streamlit_folium
scipy
black # Code formatter.
pre-commit # Git hooks for code quality.
pylint # Linter.
taskipy # Task Runner.
pytest # Testing framework.
pytest-cov # Code coverage for pytest.
