name: Pylint

on:
  push:
    branches: [main, task/prof-selcan-ipek-ugay]
  pull_request:
    branches: [main, task/prof-selcan-ipek-ugay]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pip-tools
          pip-compile --generate-hashes requirements.txt -o requirements-lock.txt
          pip install --require-hashes -r requirements-lock.txt

      - name: Analysing the code with pylint
        continue-on-error: true
        run: |
          pylint main.py config.py src/ tests/ --disable=fixme
